.Dictionary section {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 0 10px;
  border-radius: 6px;
  color: #333;
  opacity: var(--lighter);
  font-size: 0.9em;
}

.form-control:focus {
  box-shadow: none;
  border-color: gray;
}

.Dictionary .btn-outline-purple {
  color: var(--primary-color);
  border: 1px solid #ced4da;
  border-radius: 6px;
}

.Dictionary button:hover {
  background: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}
