.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  color: var(--primary-color);
  border: 1px solid #ced4da;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
}

.Phonetic a:hover {
  background: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.Phonetic .text {
  opacity: var(--lighter);
}
