:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --lighter: 0.6;
}

body {
  margin: 20px 0;
  background-color: var(--secondary-color);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  font-size: 64px;
  line-height: 1.2;
  font-weight: bold;
}

.App footer {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: center;
}

.App footer a {
  text-decoration: none;
  color: var(--primary-color);
}
