body {
  margin: 20px 0;
  background-color: #f7f3ff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  font-size: 64px;
  line-height: 1.2;
  font-weight: bold;
}

.App footer {
  margin-top: 30px;
  font-size: 0.75em;
  text-align: center;
}

.App footer a {
  text-decoration: none;
  color: #885df1;
}
